 
  /* h1{
    border: 2px solid black; 
    width: 50%; 
     width: 33.3%;
} */
 

/* #outer{
    height:400px;
    width: 400px;
    background-color: pink; 
    margin: 50px;
} */
 /* #inner{
    height: 100px;
    width: 100px; 
    background-color: cornflowerblue;
    margin-left: 10%; 
 } */



 /* Em unit */
 #outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;

 }
 #inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
 }
  